[submodule "modules/BroskiesPortal-Resources"]
	path = modules/BroskiesPortal-Resources
	url = https://github.com/gtdu/BroskiesPortal-Resources.git
[submodule "modules/BroskiesPortal-Lore"]
	path = modules/BroskiesPortal-Lore
	url = https://github.com/gtdu/BroskiesPortal-Lore.git
[submodule "modules/BroskiesPortal-JBoard"]
	path = modules/BroskiesPortal-JBoard
	url = https://github.com/gtdu/BroskiesPortal-JBoard.git
[submodule "modules/BroskiesPortal-LatePlate"]
	path = modules/BroskiesPortal-LatePlate
	url = https://github.com/gtdu/BroskiesPortal-LatePlate.git
